.preview {
    height: 770px;
    width: 430px;
    background-size: 100%;
    background-image: url(../../../assets/phone.png);
    background-repeat: no-repeat;
    padding: 85px 39px 110px 39px;
    .preview-content-box {
        overflow: hidden;
        height: 100%;
        width: 100%;
        .preview-content {
            background-color: #fff;
            height: 591px;
            width: 368px;
            overflow: scroll;
        }
    }
}